.header {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.logo {
  padding: 0.5rem 0;
}

.login {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 18px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}

.login::after {
  background: url("../../assets/usuario.svg") no-repeat center center;
  content: "";
  display: inline-block;
  height: 22px;
  margin-left: 0.5rem;
  width: 22px;
}
